{% load i18n %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false">
                <span class="sr-only">{% translate "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'walletinsights:dashboard' %}">{% translate "Wallet Insights" %}</a>
        </div>
        {% if perms.walletinsights.add_wallet_owner %}
            <div class="dropdown pull-right" style="margin-top: .8em;">
                <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="manageDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-plus"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="manageDrop">
                    <li>
                        <a href="{% url 'walletinsights:add_character' %}">{% translate "Owner/Character" %}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>